.keeper-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & label:nth-child(1) {
    flex-basis: percentage(.7);
  }

  & label:nth-child(2) {
    flex-basis: percentage(.27);
    padding-left: percentage(.03);
  }
}