.roundPicker {
  padding-bottom: rem-calc(20);

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  & label {
    display: block;
    text-align: center;
    font-size: rem-calc(28);
  }

  & .picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .rounds {
    font-size: rem-calc(60);
  }
}
