@import '_foundation';
@import "_fonts";
@import "../components/header/styles/header";
@import "../components/form/styles/arbiter-form";
@import "../components/form/styles/arbiter-form-controls";
@import "../components/form/styles/league-member";
@import "../components/form/styles/keeper";
@import "../components/form/styles/round-picker";
@import "../components/draftboard/styles/draftboard";

@import "~react-select/dist/react-select";


body {
  background: #f5f5f5;

  & * {
    font-family: $font;
  }
}